<div class="container-fluid masonry-container">
	<div class="row">
	  <div class="col-md-8 col-sm-offset-2">
	    <div class="masonry-wrapper-cols">
	      <div class="profile-container">
		    <h3 class="profile-name"><%= @user.name %><%= @user.email %></h3>
		    <h3 class="profile-name"><%= @user.introduction %></h3>
		    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
		  </div>
	    </div>
	  </div>
	</div>
</div>

