<div class="container">
  <div class="row">
  	<div class="col-4">
  	  <h2>User info</h2>
	  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
	  <div style="border: 1px solid #333"></div>
	  <div class="info-content">
	    <div class="info-type">name</div>
	    <div class="info-text"><%= user.name %></div>
	  </div>
	  <div class="info-content">
	    <div class="info-type">introduction</div>
	    <div class="info-text"><%= user.introduction %></div>
	  </div>
	  <div class="info-edit">
	    <div class="">
	    </div>
	  </div>
	  <h2>New book</h2>
	   --ここに本の新規投稿--
	</div>
  </div>
</div>